<!-- Use parameter json=true and make a React UI -->
<html>
  <link rel="stylesheet" href="/files/styles.css">
  <ul>
    {{range .Children}}
      <li><a href="{{.Name}}">{{.Name}}</a></li>
    {{end}}
  </ul>
</html>
