<!-- Use parameter json=true and make a React UI -->
<html>
  <link rel="stylesheet" href="/files/init/styles.css">
  <ul>
    {{range .Children}}
      <li>
        <span style="color:{{.Attributes.LabelFg}}; background-color:{{.Attributes.LabelBg}}">{{.Attributes.Label}}</span>
        <a href="{{.Name}}">{{.Name}}</a>
      </li>
    {{end}}
  </ul>
</html>
