<!-- Use parameter json=true and make a React UI -->
<html>
  <link rel="stylesheet" href="files/init/styles.css">
  <ul>
    <li>
      <form method="GET" action="search">
        Search: <input type="text" name="match">
      </form>
    </li>
    <li>
      <a href="files">/files</a>
    </li>
    <li>
      My own credentials: <a href"me">/me</a>
    </li>
  </ul>
</html>
