<!-- Use parameter json=true and make a React UI -->
<html>
  <link rel="stylesheet" href="files/init/styles.css">
  <ul>
    {{range .Children}}
	    <li>
        <span style="color:{{.Attributes.LabelFg}}; background-color:{{.Attributes.LabelBg}}">{{.Attributes.Label}}</span>
        <img src="{{.Path}}{{.Name}}--thumbnail.png" alt="">
        <a href="{{.Path}}{{.Name}}">{{.Path}}{{.Name}} [part {{.Part}}]</a>
        {{.Context}}
      </li>
    {{end}}
  </ul>
</html>
